.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

button {
  display: inline-block;
  background-color: #60d9fb;
  padding: 10px 25px;
  border: none;
  margin: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 200ms ease-out;
}

button:hover,
button:active {
  background-color: #60d9fb80;
}
